<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link th:href="@{/css/adminDashboard.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>기업 목록</title>
    <link rel="stylesheet" th:href="@{/css/adminList.css}" type = "text/css">
    <link rel="stylesheet" th:href="@{/css/pagination.css}" type = "text/css">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:inline="javascript">
        $(function(){
            $(".approved, .refuse").click(function(event){
                const answer = confirm("가입을 거부 하시겠습니까?");
                console.log(answer);
                if(!answer){
                    event.preventDefault();
                }
            })

            $(".refused, .approve").click(function(event){
                const answer = confirm("가입을 승인 하시겠습니까?");
                console.log(answer);
                if(!answer){
                    event.preventDefault();
                }
            })
        })
    </script>
    <style>
        tr > td:nth-child(6) {
            text-align: center;
        }
        tr > th:nth-child(6) {
            text-align: center;
        }
        .approve{
            color: white;
            font-size: 15px;
            border-radius: 20px;
            transition: background-color 0.3s ease, color 0.3s ease;
            width: 60px;
            height: 25px;
            padding: 0;
            border: none;
            background-color: #115FFC;
            border: 1.5px solid #115FFC
        }
        .refuse{
            color: white;
            font-size: 15px;
            border-radius: 20px;
            transition: background-color 0.3s ease, color 0.3s ease;
            width: 60px;
            height: 25px;
            padding: 0;
            border: 1.5px solid #DA0130;
            background-color: #DA0130;
            text-align: center;
        }

        .approve:hover{
            background-color:white;
            color: #115FFC;
            border: 1.5px solid #115FFC
        }

        .refuse:hover{
            background-color:white;
            color: #DA0130;
            border: 1.5px solid #DA0130
        }
    </style>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/main}">Shoots</a>

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" style="margin-left: 83%! important;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{../logout}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<!-- 사이드바 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" th:href="@{/testAdmin}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                    <div class="sb-sidenav-menu-heading">Interface</div>

                    <a class="nav-link" id="Users" th:href="@{userList}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Users
                    </a>


                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="true" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Business
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse show" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" id="BusinessStatus" th:href="@{businessList}">Business Status</a>
                            <a class="nav-link" id="BusinessApprove" th:href="@{businessApprovedList}">Business Approved</a>
                        </nav>
                    </div>


                    <a class="nav-link" id="Post" th:href="@{postList}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Post
                    </a>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Customers
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link" id="Faq" th:href="@{faqList}">FAQ</a>
                            <a class="nav-link" id="Notice" th:href="@{noticeList}">공지사항 </a>
                            <a class="nav-link" id="Inquiry" th:href="@{inquiryList}">문의사항</a>
                        </nav>
                    </div>
                    <hr>
                    <a class="nav-link" id="Report" th:href="@{reportList}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Report
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <div class="container">
            <div th:if="${listcount > 0}">
                <form th:action="@{businessList}">
                    <div class="search-bar" style="display: flex; justify-content: center; gap: 20px; margin-top: 50px">
                        <input name="search_word" type="text" class="form-control" placeholder="기업명 또는 기업 아이디를 입력하세요" th:value="${search_word}">
                        <button class="btn btn-primary search" type="submit">검색</button>
                    </div>
                </form>
                <table class="table">
                    <caption style="caption-side: top; font-size: 20px; margin-left: 5px">기업 상태 관리</caption>
                    <thead>
                    <tr><th th:colspan="7">기업 수 : [[${listcount}]]</th></tr>
                    <tr>
                        <th>기업명</th>
                        <th>사업자번호</th>
                        <th>이메일</th>
                        <th>전화번호</th>
                        <th>신청일</th>
                        <th>승인상태</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="b : ${businesslist}">
                        <td>[[${b.business_name}]]</td>
                        <td>[[${b.business_number}]]</td>
                        <td>[[${b.email}]]</td>
                        <td>[[${#strings.substring(b.tel, 0, 3)}]]-[[${#strings.substring(b.tel, 3, 7)}]]-[[${#strings.substring(b.tel, 7)}]]</td>
                        <td th:text="${b.register_date.substring(0, 10)}"></td>
                        <td>
                            <span th:if="${b.login_status == 'pending'}">
                                <b class="pending">대기중</b>
                            </span>
                            <span th:if="${b.login_status == 'access'}">
                                <a th:href="@{businessRefuse(id=${b.business_idx})}" id="refuse"><b class="approved">승인됨</b></a>
                            </span>
                            <span th:if="${b.login_status == 'refused'}">
                                <a th:href="@{businessApprove(id=${b.business_idx})}" id="approve"><b class="refused">거절됨</b></a>
                            </span>
                        </td>
                        <td th:if="${b.login_status == 'pending'}">
                            <a th:href="@{businessApprove(id=${b.business_idx})}" type="button" class="btn btn-primary approve" style="font-size: 14px">승인</a>
                            <a th:href="@{businessRefuse(id=${b.business_idx})}" type="button" class="btn btn-danger refuse" style="font-size: 14px">거절</a>
                        </td>
                        <td th:if="${b.login_status != 'pending'}"></td>
                    </tr>
                    </tbody>

                </table>
                <th:block
                        th:replace="~{fragments/paging :: paging('businessList',|&search_word=${search_word}|)}"/>
            </div>

            <span th:if="${listcount == 0 && search_word == ''}">
                <div style="text-align: center; margin: 100px 0 100px 0"><p> 가입된 기업이 없습니다. </p></div>
            </span>
            <div th:if="${listcount == 0 && search_word != ''}">
                <form th:action="@{businessList}">
                    <div class="input-group">
                        <button class="btn btn-primary search" type="submit">검색</button>
                        <input name="search_word" type="text" class="form-control" placeholder="기업명 또는 기업 아이디를 입력하세요" th:value="${search_word}">
                    </div>
                </form>
                <div style="text-align: center; margin: 100px 0 100px 0"><p> 검색 결과가 없습니다. </p></div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/adminDashboard.js}"></script>

</body>
<th:block th:replace="~{fragments/footer :: footer}" />
</html>