<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link th:href="@{/css/adminDashboard.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>FAQ</title>
    <script th:inline="javascript"> //삭제 버튼 클릭 시 confirm
    $(function(){
        $("div > a:nth-child(3)").click(function(event){
            const answer = confirm("정말 삭제하시겠습니까?");
            console.log(answer);
            if(!answer){
                event.preventDefault(); //삭제 이벤트 막기
            }
        })
    })
    </script>
    <style>
        textarea{
            resize: none;
        }
    </style>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/main}">Shoots</a>

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" style="margin-left: 83%! important;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{../logout}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<!-- 사이드바 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" th:href="@{/testAdmin}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                    <div class="sb-sidenav-menu-heading">Interface</div>

                    <a class="nav-link" id="Users" th:href="@{userList}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Users
                    </a>


                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Business
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" id="BusinessStatus" th:href="@{businessList}">Business Status</a>
                            <a class="nav-link" id="BusinessApprove" th:href="@{businessApprovedList}">Business Approved</a>
                        </nav>
                    </div>


                    <a class="nav-link" id="Post" th:href="@{postList}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Post
                    </a>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Customers
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link" id="Faq" th:href="@{faqList}">FAQ</a>
                            <a class="nav-link" id="Notice" th:href="@{noticeList}">공지사항 </a>
                            <a class="nav-link" id="Inquiry" th:href="@{inquiryList}">문의사항</a>
                        </nav>
                    </div>
                    <hr>
                    <a class="nav-link" id="Settings">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Settings
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <div class="container">
            <table class="table">

                <tr>
                    <th colspan="2">[[${faq.title}]]</th>
                </tr>

                <tr>
                    <td colspan="2">
                        <textarea rows="5" style="width:100%" readonly>[[${faq.content}]]</textarea>
                    </td>
                </tr>

                <tr>
                    <td th:if="${not #strings.isEmpty(faq.faq_file)}" colspan="2">
                        <form method="post" th:action="@{down}">
                            <span>첨부 파일</span>
                            <img th:src="@{/img/down.png}" width="10px">
                            <input type="hidden" th:value="${faq.faq_file}" th:name="filename">
                            <input type="hidden" th:value="${faq.faq_original}" th:name="original">
                            <input type="submit" th:value="${faq.faq_original}">
                        </form>
                    </td>
                    <td th:if="${#strings.isEmpty(faq.faq_file)}"></td>
                </tr>
            </table>

            <div>
                <a href="faqList" type="button">목록</a>
                <a th:href="@{faqUpdate(id=${faq.faq_idx})}">수정</a>
                <a th:href="@{faqDelete(id=${faq.faq_idx})}">삭제</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/adminDashboard.js}"></script>
</body>
<th:block th:replace="~{fragments/footer :: footer}" />
</html>