<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정</title>
    <th:block th:replace="~{fragments/header :: header}" />
    <script th:src = "@{/js/noticeUpdateForm.js}" charset="utf-8"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{noticeUpdateProcess}" method="post" enctype="multipart/form-data" name="updateform">
            <input type="hidden" name="notice_idx" th:value="${notice.notice_idx}">
            <input type="hidden" name="notice_file" th:value="${notice.notice_file}">
            <h1>공지사항 수정</h1>
            <div class="form-group">
                <!--<label for="name">작성자</label>-->
                <input type="hidden" class="form-control" id="name" name="name" th:value="${session.idx}" readonly>
            </div>

            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" maxlength="100" class="form-control" th:value="${notice.title}">
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <textarea name="content" id="content" rows="15" class="form-control">[[${notice.content}]]</textarea>
            </div>

            <div class="form-group">
                <label>파일 첨부
                    <img th:src="@{/img/attach.png}" alt="파일첨부" width="5px">
                    <input type="file" id="upfile" name="uploadfile">
                </label>
                <span id="filevalue">[[${notice.notice_original}]]</span>
                <img src="../img/remove.png" alt="파일삭제" width="10px" class="remove">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">수정</button>
                <button type="reset" class="btn btn-danger" onclick="history.go(-1)">취소</button>
            </div>

        </form>
    </div>
</body>
<th:block th:replace="~{fragments/footer :: footer}" />
</html>