<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <th:block th:replace="~{fragments/header :: header}" />
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <style>
        table caption {
            caption-side: top;
            font-size : 25px;
            font-weight: bold;
            color : black;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table">
            <caption>[[${noticedata.title}]]</caption>
            <tr>
                <td>작성자 : [[${noticedata.name}]]</td>
                <td>작성일 : [[${noticedata.register_date.substring(0, 10)}]]</td>
                <td>조회수 : [[${noticedata.readcount}]]</td>
            </tr>
            <tr>
                <td colspan="3" style="padding-right: 0">
                    <textarea class="form-control" rows="10" readonly>[[${noticedata.content}]]</textarea>
                </td>
            </tr>
            <tr>
                <td th:if="${not #strings.isEmpty(noticedata.notice_file)}" colspan="3">
                    <form method="post" th:action="@{down}">
                        <span>첨부파일&nbsp;&nbsp;&nbsp;</span>
                        <img th:src="@{/img/down.png}" width="10px">
                        <input type="hidden" th:value="${noticedata.notice_file}" th:name="filename">
                        <input type="hidden" th:value="${noticedata.notice_original}" th:name="original">
                        <input type="submit" th:value="${noticedata.notice_original}" >
                    </form>
                </td>
                <td th:if="${#strings.isEmpty(noticedata.notice_file)}" colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="noticeList" type="button">목록</a>
                    <a th:href="@{noticeUpdate(id=${noticedata.notice_idx})}">수정</a>
                    <a th:href="@{noticeDelete(id=${noticedata.notice_idx})}">삭제</a>
                </td>

            </tr>
        </table>
    </div>

</body>
<th:block th:replace="~{fragments/footer :: footer}" />
</html>