<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
  <title>회원 조회</title>
  <th:block th:replace="~{fragments/header :: header}" />
  <link rel="stylesheet" th:href="@{/css/adminList.css}" type = "text/css">
  <script th:src="@{/js/jquery-3.7.1.js}"></script>
  <script th:inline="javascript">
    $(function(){
      $(".common").click(function(event){
        const answer = confirm("관리자로 권한을 변경하시겠습니까?");
        console.log(answer);
        if(!answer){
          event.preventDefault();
        }
      })

      $(".admin").click(function(event){
        const answer = confirm("일반 회원으로 권한을 변경하시겠습니까?");
        console.log(answer);
        if(!answer){
          event.preventDefault();
        }
      })
    })
  </script>

</head>
<body>
  <div class="container">
    <h1>회원 목록</h1>
    <div th:if="${listcount > 0}">
      <form th:action="@{userList}">
        <div class="input-group">
          <button class="btn btn-primary search" type="submit">검색</button>
          <input name="search_word" type="text" class="form-control" placeholder="이름 또는 아이디" th:value="${search_word}">
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th colspan="8">회원 수 : [[${listcount}]]</th>
          </tr>
          <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>생년월일</th>
            <th>성별</th>
            <th>전화번호</th>
            <th>email</th>
            <th>가입일</th>
            <th>권한</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="u : ${userList}" th:if="${u.idx != session.idx}">
            <td th:text="${u.user_id}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.jumin}"></td>
            <td th:if="${u.gender == 1 or u.gender == 3}">남자</td>
            <td th:if="${u.gender == 2 or u.gender == 4}">여자</td>
            <td>[[${#strings.substring(u.tel, 0, 3)}]]-[[${#strings.substring(u.tel, 3, 7)}]]-[[${#strings.substring(u.tel, 7)}]]</td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.register_date.substring(0,10)}"></td>
            <td th:if="${u.role == 'common'}"><a th:href="@{setUserAdmin(id=${u.idx})}" type="button" class="common">일반</a></td>
            <td th:if="${u.role == 'admin'}"><a th:href="@{setUserCommon(id=${u.idx})}" type="button" class="admin">관리자</a></td>
          </tr>

        </tbody>
      </table>
      <th:block
              th:replace="~{fragments/paging :: paging('userList',|&search_word=${search_word}|)}"/>
    </div>


    <div th:if="${listcount == 0 && search_word == ''}">
      <h1>등록된 회원이 없습니다.</h1>
    </div>

    <div th:if="${listcount == 0 && search_word != ''}">
      <form th:action="@{userList}">
        <div class="input-group">
          <button class="btn btn-primary search" type="submit">검색</button>
          <input name="search_word" type="text" class="form-control" placeholder="이름 또는 아이디" th:value="${search_word}">
        </div>
      </form>
      <h1>검색 결과가 없습니다.</h1>
    </div>
  </div>

</body>
<th:block th:replace="~{fragments/footer :: footer}" />
</html>