<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div th:if="${count > 0}">
            <table class="table">
                <caption style="caption-side: top; font-size: 20px; margin-left: 5px">문의 사항</caption>
                <thead>
                <tr><th colspan="4">문의 횟수: [[${count}]]번</th></tr>
                <tr>
                    <th>번호</th>
                    <th>답변 상태</th>
                    <th>문의 제목</th>
                    <th>날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i, iterStat : ${list}">
                    <td th:text="${(iterStat.index + 1)}"></td>
                    <td th:if="${i.hasReply}" class="comS" style="color: #1d4ed8;">[답변완료]</td>
                    <td th:if="${!i.hasReply}" class="comS" style="color: #be123c;">[대기중]</td>
                    <td><a th:href="@{/inquiry/detail(inquiry_idx=${i.inquiry_idx})}" th:text="${i.title}"></a></td>
                    <td th:text="${i.register_date.substring(0, 10)}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h1 th:if="${count == 0}">문의 사항이 없습니다.</h1>
    </div>

</body>
</html>