<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/header :: header}" />
  <meta charset="UTF-8">
  <title>공지사항</title>
  <script th:src="@{/js/jquery-3.7.1.js}"></script>
  <link rel="stylesheet" th:href="@{/css/pagination.css}" type = "text/css">
  <link rel="stylesheet" th:href="@{/css/noticeList.css}" type = "text/css">
  <script>
    $(function(){
      $(".search").click(function(){
        const word = $(".form-control").val();
        if(word==""){
          alert("검색어를 입력하세요");
          $(".form-control").focus();
          return false;
        }
      })
    })
  </script>

  <style>
    a{
      text-decoration: none;
      color: black;
    }
    a:hover{
      color: #65A30D;
    }
  </style>

</head>
<body>
  <div class="container">
    <div th:if="${listcount > 0}">
      <form th:action="@{list}">
        <div class="search-bar" style="display: flex; justify-content: center; gap: 20px; margin-top: 100px">
          <input name="search_word" type="text" class="form-control" placeholder="검색어를 입력하세요" th:value="${search_word}">
          <button class="btn btn-primary search" type="submit">검색</button>
        </div>
      </form>
      <table class="table">
        <caption style="caption-side: top; font-size: 20px; margin-left: 5px">공지사항</caption>
        <thead>
          <tr>
            <th colspan="4">공지글 수 : [[${listcount}]]</th>
          </tr>
          <tr>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일</th>
            <th>조회수</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="n : ${noticelist}">
            <td th:text="${n.name}"></td>
            <td><a th:href="@{detail(id=${n.notice_idx})}" th:text="${n.title}"></a></td>
            <td th:text="${n.register_date.substring(0, 10)}"></td>
            <td th:text="${n.readcount}"></td>
          </tr>
        </tbody>
      </table>
      <th:block
              th:replace="~{fragments/paging :: paging('list',|&search_word=${search_word}|)}"/>
    </div>

    <span th:if="${listcount == 0 && search_word == ''}">
      <div style="text-align: center; margin: 100px 0 100px 0"><p>등록된 공지가 없습니다.</p></div>
    </span>

    <div th:if="${listcount == 0 && search_word != ''}">
      <form th:action="@{list}">
        <div class="search-bar" style="display: flex; justify-content: center; gap: 20px">
          <input name="search_word" type="text" class="form-control" placeholder="검색어를 입력하세요" th:value="${search_word}">
          <button class="btn btn-primary search" type="submit">검색</button>
        </div>
      </form>
      <div style="text-align: center; margin: 100px 0 100px 0"><p> 검색 결과가 없습니다. </p></div>
    </div>

  </div>




</body>
<th:block th:replace="~{fragments/footer :: footer}" />
</html>