<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공지사항</title>
  <th:block th:replace="~{fragments/header :: header}" />
  <script th:src="@{/js/jquery-3.7.1.js}"></script>
  <script>
    $(function(){
      $(".search").click(function(){
        const word = $(".form-control").val();
        if(word==""){
          alert("검색어를 입력하세요");
          $(".form-control").focus();
          return false;
        }
      })
    })
  </script>
  <style>
    h1{
      text-align:center;
      margin-top: 30px;
    }
    .input-group{
      width: 30%;
      text-align: center;
      margin-right: 50px;
      margin-top : 30px;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
    }
  </style>
</head>
<body>
  <div class="container">
    <div th:if="${listcount > 0}">
      <h1>공지사항</h1>
      <form th:action="@{list}">
        <div class="input-group">
          <button class="btn btn-primary search" type="submit">검색</button>
          <input name="search_word" type="text" class="form-control" placeholder="검색어를 입력하세요" th:value="${search_word}">
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th colspan="4">공지글 수 : [[${listcount}]]</th>
          </tr>
          <tr>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일</th>
            <th>조회수</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="n : ${noticelist}">
            <td th:text="${n.name}"></td>
            <td><a th:href="@{detail(id=${n.notice_idx})}" th:text="${n.title}"></a></td>
            <td th:text="${n.register_date.substring(0, 10)}"></td>
            <td th:text="${n.readcount}"></td>
          </tr>
        </tbody>
      </table>
      <th:block
              th:replace="~{fragments/paging :: paging('list',|&search_word=${search_word}|)}"/>
    </div>

    <h1 th:if="${listcount == 0 && search_word == ''}">등록된 공지가 없습니다.</h1>

    <div th:if="${listcount == 0 && search_word != ''}">
      <h1>공지사항</h1>
      <form th:action="@{list}">
        <div class="input-group">
          <button class="btn btn-primary search" type="submit">검색</button>
          <input name="search_word" type="text" class="form-control" placeholder="검색어를 입력하세요" th:value="${search_word}">
        </div>
      </form>
      <h1>검색 결과가 없습니다.</h1>
    </div>

  </div>




</body>
<th:block th:replace="~{fragments/footer :: footer}" />
</html>