<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 공통 상단 레이아웃 포함 -->
    <th:block th:replace="~{fragments/header :: header}"/>
    <meta charset="UTF-8">
    <title>게시판</title>
    <script th:src="@{/js/postList.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <link rel="stylesheet" th:href="@{/css/postList.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/pagination.css}" type="text/css">
</head>
<body>
<h1>잘뜸</h1>
<h1>[[${session.idx}]]</h1>
<div class="container">
    <!-- 카테고리 선택 탭 -->
    <ul class="nav nav-tabs" id="categoryTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tabA" data-toggle="tab" href="#A" role="tab" th:onclick="|switchCategory('A')|">자유 게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabB" data-toggle="tab" href="#B" role="tab" th:onclick="|switchCategory('B')|">중고 게시판</a>
        </li>
    </ul>

    <!-- 게시글 목록 -->
    <div class="tab-content mt-3">
        <div class="tab-pane fade active show" id="A" role="tabpanel">
            <!-- 게시글 목록 테이블 (자유게시판) -->
            <table class="table">
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody id="postListA"></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="B" role="tabpanel">
            <!-- 게시글 목록 테이블 (중고게시판) -->
            <table class="table">
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>미리보기</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody id="postListB"></tbody>
            </table>
        </div>
    </div>
</div>

<th:block th:replace="~{fragments/paging :: paging('list', '')}"/>

<!-- 글 작성 버튼 -->
<div class="bD">
        <button type="button" class="btnw" th:if="${session.idx == null}" th:onclick="postWriteN()">글 작성</button>
        <button type="button" class="btn btn-info btnw" th:if="${session.idx != null}" th:onclick="postWrite()">글 작성</button>
<!--    <button type="button" class="btn btn-info btnw"  th:onclick="postWrite()">글 작성</button>-->
</div>

</body>
</html>
