.btnD {text-align: center; margin-top: 15px}
button {font-size: 15px}

.custom-btn {
  width: 150px;
  height: 35px;
  border: 2px solid #0147d5;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-15 {
  background: #0147d5;
  color: white;
  z-index: 1;
  border-radius: 20px;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: white;
  transition: all 0.3s ease;
  border-radius: 20px;
}
.btn-15:hover {
  color: #0147d5;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}
