
.container {display: flex; width: 100%; }

.div-t1, .div-t2 {width: 50%; margin : 100px 0 0 0;}

.table {width: 70%; font-size: 15px}
.infoTable {width: 70%!important;}

/* btn */
.btnD {text-align: left; margin-top: 50px}
button {font-size: 15px}

/* 기업 정보 수정 btn */
.custom-btn-update {
    width: 110px;
    height: 35px;
    border: 2px solid #fdba01;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-15-update {
    background: #fdba01;
    color: white;
    z-index: 1;
    border-radius: 20px;
}
.btn-15-update:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: white;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.btn-15-update:hover {
    color: #fdba01;
}
.btn-15-update:hover:after {
    left: 0;
    width: 100%;
}

.btn-15-update:active {
    top: 2px;
}

/* 구장 정보 추가 btn */
.custom-btn {
    width: 120px;
    height: 35px;
    border: 2px solid #65a30d;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-15 {
    background: #65a30d;
    color: white;
    z-index: 1;
    border-radius: 20px;
}
.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: white;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.btn-15:hover {
    color: #65a30d;
}
.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}

/* 모달 */
.btn-closeModal {width: 25px; height: 25px; font-size: 12px; padding-top: 2px; border: 1px solid #da0130; border-radius: 20px; background: none; color: #da0130; transition: all 0.3s ease}
.btn-closeModal:hover {border: 1px solid #da0130; background: #da0130; color: white}

.popover {--bs-popover-max-width: 350px;}
.popover-body {white-space: pre-line;}

.modal-p {margin: 5px 0 0 0}


.form-control {margin: 0 0 15px 0; font-size: 15px}
.modal-select {text-align: left}

.btn-bottom {margin: 30px 0 10px 0; text-align: center}
.btn-save {width: 80px; height: 35px; color: white; border-radius: 20px; background: #0147d5; border: 1px solid #0147d5; transition: all 0.3s ease}
.btn-save:hover {border: 1px solid #0147d5; background: white; color: #0147d5}
