@charset "EUC-KR";

.pagination {margin-top : 20px}
.page-item.active .page-link {background : #059669!important; border-radius : 20px; border : 1px solid #059669!important}

.page-item .page-link { padding: 4px 10px; font-size: 10px; background-color: transparent; border-radius : 20px; border : 1px solid #059669}
.page-item .page-link:hover {color : white; background-color: #059669; border-radius : 20px; border : 1px solid #059669; opacity: 0.3;}

.pagination a {color: gray; float: left; padding: 8px 13px; text-decoration: none;}

.page-item .page-link {border-radius : 20px; margin : 0 2px 0 2px;}

.page-item:first-child .page-link {border : none;}
.page-item:first-child .page-link:hover {border : none; color :  #059669;  background-color: transparent; }
.page-item:last-child .page-link {border : none;}
.page-item:last-child .page-link:hover {border : none; color :  #059669;  background-color: transparent; }