.container {
	width: 80%
}

.contentD {width : 100%; min-height : 200px}

/*답글달때 @원댓글 작성자 아이디*/
.mention {
    color: royalblue;
    font-weight: bold;
  }

/*제목*/
.title {
	font-weight: bold;
	font-size: 1.2em
}

.user_id, .register_date, .readcount {
	font-size: 0.9em
}


/*스크롤 시 에도 header 고정 → CSS에 작성*/
nav.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/*수정/삭제/목록 버튼 디자인 */

.modifyBtn {font-size :  12px; border-radius : 20px; border : none; width : 80px; height : 25px; color : white ; background : #FDBA01; margin-left : 10px; transition: background 0.3s, color 0.3s; }
.deleteBtn {font-size :  12px; border-radius : 20px; border : none; width : 80px; height : 25px; color : white ; background : #DA0130; margin-left : 10px; transition: background 0.3s, color 0.3s; }
.listBtn {font-size :  12px; border-radius : 20px; border : none; width : 80px; height : 25px; color : white ; background : #65A30D; margin-left : 10px; transition: background 0.3s, color 0.3s;}

.modifyBtn:hover {font-size :  12px; border-radius : 20px; border : 1px solid orange; width : 80px; height : 25px; color : #FDBA01 ; background : white; margin-left : 10px }
.deleteBtn:hover {font-size :  12px; border-radius : 20px; border : 1px solid #DA0130; width : 80px; height : 25px; color : #DA0130 ; background : white; margin-left : 10px }
.listBtn:hover {font-size :  12px; border-radius : 20px; border : 1px solid #059669; width : 80px; height : 25px; color : #65A30D ; background : white; margin-left : 10px}



/*수정/삭제/목록 버튼 위치*/
body>div>table>tbody tr:last-child {
	text-align: right;
}





/*댓글 수*/
.comment-area .comment-head .comment-count {
	float: left;
	margin-top: 3px;
	margin-right: 12px;
	font-size: 17px;
}


/* 댓글 등록순 최신순*/
.comment-area .comment-head .comment-order .comment-order-list {
	display: inline-block;
	margin-top: 4px;
	font-size: 13px;
	vertical-align: top;
}

dl, ol, ul {
	list-style: none;
}

.comment-area .comment-head .comment-order .comment-order-item:first-child {
	margin-left: 0;
}

.comment-area .comment-head .comment-order .comment-order-item {
	float: left;
	margin-left: 8px;
}


/*댓글 밑에 답글 왼쪽 마진*/
.comment-list-item--reply {
	margin-left: 50px;
}



body, button, li, ol, textarea, ul {
	margin: 0;
	padding: 0;
}


.comment-order-button {
	color: #b7b7b7;
	font-weight: 700;
}

a {
	text-decoration: none;
}




button {
	cursor: pointer;
	border: 0;
	background: none;
}

img {
	vertical-align: middle;
}

fieldset, img {
	border: 0;
}

.comment-area {
	margin-top: -17px;
	border-top: 1px solid #ebecef;
}

.comment-area .comment-head {
	position: relative;
	padding-top: 16px;
	margin-bottom: 11px;
}

textarea.comment-write-area-text {
	max-height: 500px;
}

.comment-area .comment-list .comment-nick-box, .comment-list-item--reply {
	margin-bottom: 4px;
}

.comment-area .comment-list .comment-nick-area {
	position: relative;
	padding: 12px 23px 10px 0;
}

.comment-list-item--reply.lev1 {
	margin-left: 46px;
}

.comment-list-item--reply.lev2 {
	margin-left: 92px;
}

.comment-area .comment-list .comment-list-item {
	position: relative;
	border-top: 1px solid #f2f2f2;
}

.comment-area .comment-list .comment-nick-box .comment-nickname {
	font-weight: 700;
}

.comment-area a {
	color: inherit;
}

.comment-area .comment-list .comment-info-box {
	margin-top: 7px;
	font-size: 12px;
	color: #979797;
}

.comment-area .comment-list .comment-tool .comment-tool-button {
	display: block;
	width: 16px;
	height: 16px;
	text-align: right;
	cursor: pointer;
}

.comment-area .comment-list .comment-tool {
	position: absolute;
	top: 12px;
	right: 0;
}

.comment-tool-button div {
	transform: rotate(90deg);
	color: #979797
}

.comment-area .comment-list+.comment-write {
	margin-top: 30px;
}

.comment-write {
	margin: 12px 0 29px;
	padding: 16px 10px 10px 18px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	box-sizing: border-box;
	background: #ffffff;
}

.comment-write .comment-write-area {
	position: relative;
	margin-bottom: 10px;
}


/* 댓글 쓰는 창*/
.comment-write .comment-write-area-text {
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	width: 100%;
	min-height: 60px;
	padding-right: 1px;
	border: 0;
	font-size: 13px;
	-webkit-appearance: none;
	resize: none;
	box-sizing: border-box;
	background: transparent;
	color: #000000;
	outline: 0;
}

button, textarea {
	font-family: Apple SD Gothic Neo, 맑은 고딕, Malgun Gothic, 돋움, dotum,
		sans-serif;
}

textarea {
	font-weight: 400;
}

.comment-write .register-box .button {
	display: inline-block;
	min-width: 46px;
	height: 34px;
	line-height: 36px;
	font-size: 13px;
	color: #b7b7b7;
	border-radius: 6px;
	box-sizing: border-box;
	font-weight: 700;
	text-align: center;
	vertical-align: top;
}

.comment-area .comment-list .comment-tool .LayerMore {
	left: auto;
	right: 0;
	margin-top: 7px;
}

.LayerMore {
	/*   overflow-y: auto; */
	position: absolute;
	top: auto;
	left: 0;
	z-index: 1;
	max-height: 416px;
	padding: 10px 0 10px 10px;
	border: 1px solid rgba(0, 0, 0, .06);
	border-radius: 6px;
	box-shadow: 0 1px 12px 0 rgb(0 0 0/ 6%);
	background-color: #fff;
	box-sizing: border-box;
	color: #000;
	width: 100px;
	/* height:36px; */
}

.LayerMore a {
	font-size: small;
	text-decoration: none;
}

.LayerMore {
	display: none;
}

.comment-tool-button:focus, .comment-tool-button:visited {
	outline: none;
}

a:hover {
	text-decoration: none;
}

.btn-register, .btn-cancel, .reply {
	cursor: pointer;
	float: right;
}

.red {
	color: red;
}

.gray {
	color: gray;
}

.comment-list-item .comment-nick-area img {
	border-radius: 50%;
	border: 1px solid #ccc;
	float: left;
	margin-right: 20px;
}

.comment-write-area-text {
	overflow: hidden;
	overflow-wrap: break-word;
	height: 17px;
}

.comment-write-area-count {
	font-size: small;
	color: #b7b7b7;
	float: right
}

.comment-write-area-name {
	font-size: small;
}

.register-box {
	height: 20px;
}

.comment-write .register-box .btn-cancel {
	display: none;
}

.show{
	display:block;
}

.hide{
	display:none;
}

.commentReportButton {border : none}
.text-comment {font-size : 13px; font-weight : normal !important}