img {
    width: 20px;
}


h1{
	font-size:1.5em; 
	text-align:center; 
	color:#65A30D
 }
 
 
 /*수정 제출 버튼*/
.btnc{
	color : #65A30D;
    background-color: #fff;
    border-color: #65A30D;
    border-radius : 20px; 
    width : 80px; 
	height : 35px;
}

 /*취소 버튼*/
.btnr{
	color: #fff;
    background-color: #65A30D;
    border-color: #65A30D;
    border-radius : 20px; 
	border : 1px solid #408080;
	width : 80px; 
	height : 35px;
}


/*스크롤 시 에도 header 고정 → CSS에 작성*/
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}