<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header :: header}"/>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script th:src="@{/js/businessInquiryForm.js}"></script>
    <link th:href="@{/css/businessInquiryForm.css}" rel="stylesheet">

    <title>1:1 문의글 수정하기</title>
</head>
<body>
<div class="container">
    <form th:action="@{inquiryModifyAction}" method="post" enctype="multipart/form-data" name="inquiryForm">
        <h3>1:1 문의하기</h3>
        <hr>
        <div class="form-group">
            <!--문의글 번호, 첨부파일 : hidden-->
            <input type="hidden" id="inquiry_idx" name="inquiry_idx" th:value="${inquiryData.inquiry_idx}">
            <input type="hidden" name="inquiry_file" th:value="${inquiryData.inquiry_file}">
            <!-- 문의자, hidden-->
            <input name="inquiry_ref_idx" id="inquiry_ref_idx" th:value="${session.idx}"
                   type="hidden" class="form-control" readOnly>

            <!-- 문의자 유형, hidden : usertype = 개인 A / 기업 B-->
            <div>
                <input name="inquiry_type" id="inquiry_type" th:value="${session.usertype}" type="hidden">
            </div>

            <div class="form-group">
                <p class="titlep">문의 제목</p>
                <input name="title" id="title" maxlength="100"
                       type="text" class="titleI" th:value="${inquiryData.title}" placeholder="제목을 입력해 주세요">
            </div>

            <!-- 문의 내용-->
            <div class="form-group">
                <p class="titlep">문의 내용</p>
                <textarea name="content" id="content" rows="10" class="contentI"
                          th:text="${inquiryData.content}" placeholder="내용을 입력해 주세요"></textarea>
            </div>

            <div class="form-group">
                <label>
					<span class="filep">파일첨부<span>
					<img th:src="@{/img/attach.png}" alt="파일첨부" class="fileU" style="width: 30px">
					<input type="file" id="upfile" name="uploadfile" style="display: none;">
                </label>
                <span id="filevalue">[[${inquiryData.original_file}]]</span>
                <img th:src="@{/img/remove.png}" alt="파일삭제" class="remove">
            </div>

            <div class="btnD">
                <button type="submit" class="custom-btn btn-15 registerBtn btnW">문의 수정</button>
                <button type="button" class="custom-btn  btn-15 btn-delete cancelBtn btnC">취소</button>
            </div>
    </form>
</div>


</body>
<th:block th:replace="~{fragments/footer :: footer}"/>
</html>