<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/header :: header}" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/matchForm.css}" rel="stylesheet">
    <script th:src="@{/js/businessMatchForm.js}"></script>
</head>
<body>
    <div class="container">
        <h4> 매치 글 올리기 </h4>
        <hr>
        <form th:action="@{postAdd}" method="post" enctype="multipart/form-data" name="matchForm">
            <div class="form-group">
                <div class="divS">
                    <span> 구장 </span>
                    <input type="text" class="form-control" id="writer" name="writer" th:value="${session.idx}" readonly>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="divF">
                    <span> 매치 날짜 </span>
                    <input name="match_date" id="match_date" type="date" maxlength="100"
                           class="form-control">
                </div>
                <div class="divF">
                    <span> 매치 시간 </span>
                    <select class="form-control" name="match_time" id="match_time" required>
                        <option value="" disabled selected> 시간을 선택해주세요 </option>
                    </select>
                </div>
                <div class="divF">
                    <span> 매치 레벨 </span>
                    <select class="form-control" name="match_level" id="match_level" required>
                        <option value="" disabled selected> 매치 레벨 </option>
                        <option value="초급">초급</option>
                        <option value="중급">중급</option>
                        <option value="고급">고급</option>
                        <option value="전체">난이도 무관</option>
                    </select>
                </div>
                <div class="divF">
                    <span> 팀 구성 </span>
                    <select class="form-control" name="team_style" id="team_style" required>
                        <option value="" disabled selected> 팀 구성 </option>
                        <option value="고정">고정</option>
                        <option value="랜덤">랜덤</option>
                        <option value="자유">자유</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="divF">
                    <span> 최소 인원 </span>
                    <input type = "number" class = "form-control playerMm" id = "player_min" name = "player_min" placeholder = "최소 인원" min = "4" max = "20" required>
                </div>
                <div class="divF">
                    <span> 최대 인원 </span>
                    <input type = "number" class = "form-control playerMm" id = "player_max" name = "player_max" placeholder = "최대 인원" min = "4" max = "20" required>
                </div>
                <div class="divF">
                    <span> 성별 </span>
                    <select class="form-control" name="player_gender" id="player_gender" required>
                        <option value="" disabled selected> 플레이어 성별 </option>
                        <option value="m">남성</option>
                        <option value="f">여성</option>
                        <option value="a">혼성</option>
                    </select>
                </div>
                <div class="divF">
                    <span> 가격 </span>
                    <input type = "number" class="form-control" id = "price" name = "price" min = "1000" max="50000" step="1000" placeholder = "1인 가격">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="divS">
                    <span> 구장정보 </span>
                    <button type="button" style="border: none; background: none" data-bs-container="body" data-bs-toggle="popover"
                            data-bs-placement="right" data-bs-content="구장 정보는 매치글 업로드 시 사용되는 정보입니다. 기업페이지 내 settings 탭 에서 등록/수정해 주시길 바랍니다.">
                        <img th:src="@{/img/btn-info.png}" style="width: 15px; padding-bottom: 3px"/>
                    </button>
                    <th:block th:if="${businessInfo != null}">
                        <table class="table">
                            <tr>
                                <th> 주차장 </th>
                                <td><span th:switch="${businessInfo.parking}">
                                <span th:case="'yesPaid'"><span style="color: #0147d5">O</span> <span style="font-size: 13px">유료주차</span></span>
                                <span th:case="'yesFree'"><span style="color: #0147d5">O</span> <span style="font-size: 13px">무료주차</span></span>
                                <span th:case="'none'"><span style="color: #da0130">X</span></span>
                            </span>
                                </td>
                            </tr>
                            <tr>
                                <th> 샤워장 </th>
                                <td>
                                    <span th:if="${businessInfo.shower == true}"><span style="color: #0147d5">O</span></span>
                                    <span th:if="${businessInfo.shower == false}"><span style="color: #da0130">X</span></span>
                                </td>
                            </tr>
                            <tr>
                                <th> 휴게실 / 락커룸 </th>
                                <td>
                                    <span th:if="${businessInfo.lounge == true}"><span style="color: #0147d5">O</span></span>
                                    <span th:if="${businessInfo.lounge == false}"><span style="color: #da0130">X</span></span>
                                </td>
                            </tr>
                            <tr>
                                <th> 잔디 </th>
                                <td><span th:text="${businessInfo.field_type}"></span></td>
                            </tr>
                            <tr>
                                <th> CCTV / 보안 </th>
                                <td>
                                    <span th:if="${businessInfo.cctv == true}"><span style="color: #0147d5">O</span></span>
                                    <span th:if="${businessInfo.cctv == false}"><span style="color: #da0130">X</span></span>
                                </td>
                            </tr>
                            <tr>
                                <th> 매점 / 자판기 </th>
                                <td>
                                    <span th:if="${businessInfo.kiosk == true}"><span style="color: #0147d5">O</span></span>
                                    <span th:if="${businessInfo.kiosk == false}"><span style="color: #da0130">X</span></span>
                                </td>
                            </tr>
                            <tr>
                                <th> 물품대여 </th>
                                <td><span th:text="${businessInfo.rental}"></span></td>
                            </tr>
                            <tr>
                                <th> 운영시간 </th>
                                <td><span th:text="${businessInfo.open_time}"></span> ~ <span th:text="${businessInfo.close_time}"></span></td>
                            </tr>
                        </table>
                    </th:block>
                    <th:block th:if="${businessInfo == null}">
                        <div style="text-align: center; margin: 100px 0 100px 0">
                            <span> 저장된 구장 정보가 존재 하지 않습니다. </span><br>
                            <span> 매치글을 간편하게 올리기 위해 기업페이지 내 settings 탭 에서 구장 정보를 등록해주시길 바랍니다. </span>
                        </div>
                    </th:block>
                </div>
            </div>
            <hr>
            <div class="btnD">
                <button class="custom-btn btn-15 btn-list" onclick="matchList()">목록보기</button>
                <button class="custom-btn btn-15 btn-reset" type="reset">다시작성</button>
                <button class="custom-btn btn-15 btn-submit" type="submit">저장하기</button>
            </div>
        </form>
    </div>
    <th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>