<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/businessMatchParticipants.css}" rel="stylesheet">
    <script th:src="@{/js/businessMatchParticipantsRefund.js}"></script>
</head>
<body>
    <div class="container">
        <th:block th:if="${list > 0}">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <th:block th:each="match : ${matchList}">
                    <h2 class="accordion-header" th:id="'heading' + ${match.match_idx}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${match.match_idx}" aria-expanded="false" th:aria-controls="'collapse' + ${match.match_idx}">
                            [[${match.match_idx}]]번 매치 | &nbsp; [[${match.match_date}]] &nbsp; [[${match.match_time}]] &nbsp; | &nbsp;
                            <span th:if="${match.playerCount > 0 && match.playerCount < match.player_max}">
                                <b th:text="${match.playerCount}" style="color: #115ffc"></b> / <span th:text="${match.player_max}"></span>인
                            </span>
                            <span th:if="${match.playerCount == 0}">
                                <span th:text="${match.player_max}"></span>인
                            </span>
                            <span th:if="${match.playerCount == match.player_max}">
                                <b th:text="${match.playerCount}" style="color: #da0130"></b> / <span th:text="${match.player_max}"></span>인
                            </span>
                            &nbsp; &nbsp;
                            <span th:switch="${match.player_gender}">
                                <span th:case="'f'">여자</span>
                                <span th:case="'m'">남자</span>
                                <span th:case="a">남녀무관</span>
                            </span>
                            &nbsp; &nbsp;
                            <span th:switch="${match.match_level}">
                                <span th:case="'고급'" style="color: #da0130">고급</span>
                                <span th:case="'중급'" style="color: #fdba01">중급</span>
                                <span th:case="'초급'" style="color: #65a30d">초급</span>
                                <span th:case="'전체'" style="color: dimgray">난이도 무관</span>
                            </span>
                        </button>
                    </h2>
                    <div th:id="'collapse' + ${match.match_idx}"  class="accordion-collapse collapse" th:aria-labelledby="'heading' + ${match.match_idx}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <th:block th:if="${results != null}">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> 이름 </th>
                                        <th> 생년월일 </th>
                                        <th> 전화번호 </th>
                                        <th> 이메일 </th>
                                        <th> 결제방법 </th>
                                        <th> 결제금액 </th>
                                        <th> 결제날짜 </th>
                                        <th> 결제취소날짜 </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div th:each="result : ${results}">
                                    <div th:if="${result['MATCH_IDX'] == match.match_idx}">
                                    <tr>
                                        <td><span th:text="${result['user_id']}"></span></td>
                                        <td><span th:text="${result['name']}"></span></td>
                                        <td><span th:text="${result['jumin']}"></span></td>
                                        <td><span th:text="${#strings.substring(result['tel'], 0, 3) + '-'
                                              + #strings.substring(result['tel'], 3, 7) + '-'
                                              + #strings.substring(result['tel'], 7)}"></span>
                                        </td>
                                        <td><span th:text="${result['email']}"></span></td>
                                        <td><span th:text="${result['PAYMENT_METHOD']}"></span></td>
                                        <td><span th:text="${result['PAYMENT_AMOUNT']}"></span></td>
                                        <td><span th:text="${result['PAYMENT_DATE']}"></span></td>
                                        <td><span th:text="${result['ACTION_DATE']}"></span></td>
                                        <td th:if="${result['ACTION_DATE'] == null}">
                                            <button type="button" class="btn-refund"
                                                th:data-payment_idx="${result['PAYMENT_IDX']}" th:data-imp_uid="${result['IMP_UID']}" th:data-name="${result['name']}"
                                                th:data-merchant_uid="${result['MERCHANT_UID']}" th:data-amount="${result['PAYMENT_AMOUNT']}" onclick="BrequestRefund(this)">
                                            환불</button>
                                        </td>
                                        <td th:if="${result['ACTION_DATE'] != null}">
                                            <button type="button" class="btn-refund-no">환불</button>
                                        </td>
                                    </tr>
                                    </div>
                                    </div>
                                </tbody>
                            </table>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        </th:block>
        <th:block th:if="${list == 0}">
            <div style="text-align: center; margin: 100px 0 100px 0"><p> 매치리스트와 고객리스트가 존재하지 않습니다 </p></div>
        </th:block>
    </div>
</body>
</html>