<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/header :: header}" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/matchForm.css}" rel="stylesheet">
    <script th:src="@{/js/matchForm.js}"></script>
</head>
<body>
    <div class="container">
        <h4> 매칭 글 올리기 </h4>
        <hr>
        <form th:action="@{/match/add}" method="post" enctype="multipart/form-data" name="matchForm">
            <div class="form-group">
                <div class="divS">
                    <span> 구장 </span>
                    <input type="text" class="form-control" id="writer" name="writer" value="1" readonly>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="divF">
                    <span> 매칭 날짜 </span>
                    <input name="match_date" id="match_date" type="date" maxlength="100"
                           class="form-control">
                </div>
                <div class="divF">
                    <span> 매칭 시간 </span>
                    <select class="form-control" name="match_time" id="match_time" required>
                        <option value="" disabled selected> 시간을 선택해주세요 </option>
                    </select>
                </div>
                <div class="divF">
                    <span> 매칭 레벨 </span>
                    <select class="form-control" name="match_level" id="match_level" required>
                        <option value="" disabled selected> 매칭 레벨 </option>
                        <option value="초급">초급</option>
                        <option value="중급">중급</option>
                        <option value="고급">고급</option>
                        <option value="전체">난이도 무관</option>
                    </select>
                </div>
                <div class="divF">
                    <span> 팀 구성 </span>
                    <select class="form-control" name="team_style" id="team_style" required>
                        <option value="" disabled selected> 팀 구성 </option>
                        <option value="고정">고정</option>
                        <option value="랜덤">랜덤</option>
                        <option value="자유">자유</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="divF">
                    <span> 최소 인원 </span>
                    <input type = "number" class = "form-control playerMm" id = "player_min" name = "player_min" placeholder = "최소 인원" min = "4" max = "20" required>
                </div>
                <div class="divF">
                    <span> 최대 인원 </span>
                    <input type = "number" class = "form-control playerMm" id = "player_max" name = "player_max" placeholder = "최대 인원" min = "4" max = "20" required>
                </div>
                <div class="divF">
                    <span> 성별 </span>
                    <select class="form-control" name="player_gender" id="player_gender" required>
                        <option value="" disabled selected> 플레이어 성별 </option>
                        <option value="m">남자</option>
                        <option value="f">여자</option>
                        <option value="a">혼성</option>
                    </select>
                </div>
                <div class="divF">
                    <span> 가격 </span>
                    <input type = "number" class="form-control" id = "price" name = "price" min = "1000" max="50000" step="1000" placeholder = "1인 가격">
                </div>
            </div>
            <hr>
<!--            <div class="form-group">-->
<!--                <div class="divS">-->
<!--                    <span> 특이사항 </span>-->
<!--                    <textarea class="form-control" id="etc" name="etc" placeholder="구장 설명을 작성해 주세요 * 기업페이지 에서 기본값 설정이 가능합니다 *"></textarea>-->
<!--                </div>-->
<!--            </div>-->
<!--            <hr>-->
            <div class="btnD">
                <button class="custom-btn btn-15 btn-list" onclick="matchList()">목록보기</button>
                <button class="custom-btn btn-15 btn-reset" type="reset">다시작성</button>
                <button class="custom-btn btn-15 btn-submit" type="submit">저장하기</button>
            </div>
        </form>
    </div>
</body>
</html>