<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/header :: header}" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/matchDetail.css}" rel="stylesheet">
    <script th:src="@{/js/matchDetail.js}"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script th:src="@{/js/Payment.js}"></script>
</head>
<body>
    <div class="container">
        <input type="hidden" th:text="${match.match_idx}">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/img/detail1.jpg}" class="d-block" alt="...">
                </div>
                <div class="carousel-item">
                    <img th:src="@{/img/detail2.jpg}" class="d-block" alt="...">
                </div>
                <div class="carousel-item">
                    <img th:src="@{/img/detail3.jpg}" class="d-block" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="div0">
            <div class="div1">
                <div class="div-player">
                    <th:block th:each="i : ${#numbers.sequence(0, match.player_max - 1)}">
                        <img th:src="@{/img/player_icon1.png}" width="30px">
                    </th:block>
                </div>
                <hr>
                <div>
                    <h5> 매치 포인트 </h5>
                    <div class="div-detail">
                        <table class="table">
                            <tr>
                                <td><img th:src="@{/img/detail1.png}" width="30px"></td>
                                <td><span>최소 <b th:text="${match.player_min}"></b>명 &nbsp; 최대 <b th:text="${match.player_max}"></b>명</span></td>
                            </tr>
                            <tr>
                                <td><img th:src="@{/img/detail2.png}" width="28px"></td>
                                <td>
                                    <div th:switch="${match.player_gender}">
                                        <span th:case="'f'"><b>여자</b>만 참여할 수 있어요</span>
                                        <span th:case="'m'"><b>남자</b>만 참여할 수 있어요</span>
                                        <span th:case="a"><b>누구나</b> 참여할 수 있어요</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img th:src="@{/img/detail3.png}" width="25px"></td>
                                <td><span> 팀 구성은 <b th:text="${match.team_style}"></b> 방식 이에요</span></td>
                            </tr>
                            <tr>
                                <td><img th:src="@{/img/detail4.png}" width="25px"></td>
                                <td>
                                        <span th:switch="${match.match_level}">
                                            <span th:case="'초급'">플레이의 난이도는 <b>초급</b></span>
                                            <span th:case="'중급'">플레이의 난이도는 <b>중급</b></span>
                                            <span th:case="'고급'">플레이의 난이도는 <b>고급</b></span>
                                            <span th:case="'전체'">누구나 <b>자유롭게</b> 참여 가능해요</span>
                                        </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr>
                <div>
                    <h5> 구장 정보 </h5>
                </div>
            </div>
            <div class="div2">
                <div><span th:text="${match.formattedDate}"></span>&nbsp;<span th:text="${match.formattedTime}"></span></div>
                <div class="place"><span>장소 어쩌구 저쩌구</span></div>
                <div class="address"><span>주소 어쩌구 저쩌구 클릭하면 이동</span></div>
                <hr style="width: 98%; margin: 0 auto; margin-top: 20px">
                <div class="price"><span th:text="${match.price}"></span>원 <span class="span-time"> / 2시간</span></div>
                <div class="btn-div">
                    <button id="paymentButton" class="button button--moema button--text-upper button--size-s" onclick="requestPayment()"
                            th:data-matchIdx="${match.match_idx}" th:data-price="${match.price}">신청하기</button>
                    <p class="btn-status"> 현재 자리 남았습니다 </p>
                </div>
            </div>
        </div>
        <div class="div-btn">
            <button class="custom-btn btn-15 btn-list" onclick="matchList()">목록보기</button>
            <a th:href="@{'updateForm?match_idx=' + ${match.match_idx}}">
                <button class="custom-btn btn-15 btn-update">수정하기</button>
            </a>
            <form th:action="@{/match/delete}" method="post" id="deleteForm">
                <input type="hidden" name="match_idx" th:value="${match.match_idx}">
                <button type="submit" class="custom-btn btn-15 btn-delete">삭제하기</button>
            </form>
        </div>
    </div>
    <script>
        function requestPayment() {
            const IMP = window.IMP; // 생략 가능: CDN으로 불러온 IMP 객체
            IMP.init("imp35523152"); // 포트원 콘솔에서 발급받은 가맹점 식별코드로 변경

            var merchant_uid = 'merchant_' + new Date().getTime();

            const matchIdx = document.getElementById('paymentButton').getAttribute('data-matchIdx');
            const price = document.getElementById('paymentButton').getAttribute('data-price');

            IMP.request_pay(
                {
                    channelKey: "channel-key-7cf4f649-e97f-4e5f-906e-30ec63d4f44c", // 콘솔 내 채널키
                    pay_method: "card", // 결제 수단 (예: 카드)
                    merchant_uid: merchant_uid, // 고유 주문번호 (동적으로 생성)
                    name: matchIdx + ' 번 매치 - 플레이어 신청',
                    amount: price, // 결제 금액
                    buyer_email: "test@portone.io", // 구매자 이메일
                    buyer_name: "홍길동", // 구매자 이름
                    buyer_tel: "010-1234-5678", // 구매자 전화번호
                    language: "ko", // 결제창 언어 (한국어: 'ko', 영문: 'en')
                },
                function (rsp) {
                    if (rsp.success) {
                        // 결제 성공 처리
                        alert("결제가 성공적으로 완료되었습니다.");
                        console.log(rsp); // 성공 결과 확인 (예: 결제 고유 ID, 주문번호 등)
                    } else {
                        // 결제 실패 처리
                        alert(`결제에 실패하였습니다. 에러 메시지: ${rsp.error_msg}`);
                        console.log(rsp); // 실패 결과 확인 (예: 에러 코드, 메시지 등)
                    }
                }
            );
        }
    </script>
</body>
</html>