<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/header :: header}" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/matchList.css}" rel="stylesheet">
    <script th:src="@{/js/matchList.js}"></script>
</head>
<body>
    <div class="container">
        <div style="margin-top: 100px; position: relative; border: 1px solid lightgray;; border-radius: 10px; text-align: right">
            <img th:src="@{/img/card2.jpg}" style="width: 70%; height: 230px; object-fit: cover; border-radius: 0 10px 10px 0;">
            <div class="top-img-p">
                <b>슛매치</b> <br>
                <span style="font-size: 16px;">원하는 시간과 장소의 풋살장을 선택하세요!
                    <span style="font-size: 12px">⚽️</span><span style="font-size: 25px"> 🏃🏻‍♀️🏃🏻</span> <br>
                    간편한 예약으로 언제든지 편리하게 이용할 수 있습니다.</span>
            </div>
        </div>
        <div class="btn-top">
            <button class="custom-btn-top btn-15-top today">오늘의 매치</button>
            <button class="custom-btn-top btn-15-top" id="allMatchesBtn">전체</button>
            &nbsp; <span> | </span> &nbsp;
            <select name="player_gender" id="player_gender">
                <option value="" disabled selected> 성별 </option>
                <option value="m">남성</option>
                <option value="f">여성</option>
                <option value="a">혼성</option>
            </select>
            <select name="match_level" id="match_level">
                <option value="" disabled selected> 매치 레벨 </option>
                <option value="초급">초급</option>
                <option value="중급">중급</option>
                <option value="고급">고급</option>
                <option value="전체">난이도 무관</option>
            </select>
            <div style="display: none">
                <select name="business_idx" id="business_idx"></select>
            </div>
        </div>

        <div id="matchListContainer">
            <th:block th:if="${listcount > 0}">
                <table class="table">
                    <caption style="caption-side: top; font-size: 20px; margin-left: 5px">전체 매치</caption>
                    <thead>
                        <tr>
                            <th> 매치 날짜 </th>
                            <th> 매치 시간 </th>
                            <th> 장소 </th>
                            <th> 플레이어 성별 </th>
                            <th> 매치 난이도 </th>
                            <th> 참여인원 </th>
                            <th> 신청현황 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:with="num=${listcount - (page - 1) * limit}">
                        <th:block th:each="match : ${matchList}">
                            <tr>
                                <td><div th:text="${match.formattedDate}"></div></td>
                                <td><div th:text="${match.match_time}"></div></td>
                                <td th:if="${match.isMatchPast() == false}">
                                    <a class="table-a" th:href="@{'detail?match_idx=' + ${match.match_idx}}"><span th:text="${match.business_name}"></span></a>
                                </td>
                                <td th:if="${match.isMatchPast() == true}">
                                    <a class="table-a2" th:href="@{'detail?match_idx=' + ${match.match_idx}}"><span th:text="${match.business_name}"></span></a> <span style="font-size: 13px; color: #da0130">[마감]</span>
                                </td>
                                <td>
                                    <div th:switch="${match.player_gender}">
                                        <span th:case="'f'">여성</span>
                                        <span th:case="'m'">남성</span>
                                        <span th:case="a">남녀무관</span>
                                    </div>
                                </td>
                                <td>
                                    <div th:switch="${match.match_level}">
                                        <span th:case="'고급'" style="color: #da0130">고급</span>
                                        <span th:case="'중급'" style="color: #fdba01">중급</span>
                                        <span th:case="'초급'" style="color: #65a30d">초급</span>
                                        <span th:case="'전체'" style="color: dimgray">난이도 무관</span>
                                    </div>
                                </td>
                                <td th:if="${match.playerCount > 0 && match.playerCount < match.player_max}">
                                    <b th:text="${match.playerCount}" style="color: #115ffc"></b> / <span th:text="${match.player_max}"></span>인
                                </td>
                                <td th:if="${match.playerCount == 0}">
                                    <span th:text="${match.player_max}"></span>인
                                </td>
                                <td th:if="${match.playerCount == match.player_max}">
                                    <b th:text="${match.playerCount}" style="color: #da0130"></b> / <span th:text="${match.player_max}"></span>인
                                </td>

                                <td th:if="${match.playerCount < match.player_max && match.isMatchPast() == false}"><a th:href="@{'detail?match_idx=' + ${match.match_idx}}">
                                    <button type="button" class="custom-btnS btn-5 btn-apply">신청가능</button></a>
                                </td>
                                <td th:if="${match.playerCount > match.player_min && match.playerCount < match.player_max}"><a th:href="@{'detail?match_idx=' + ${match.match_idx}}">
                                    <button type="button" class="custom-btnS btn-5 btn-limited">마감임박</button></a>
                                </td>
                                <td th:if="${match.playerCount == match.player_max && match.isMatchPast() == false}"><a th:href="@{'detail?match_idx=' + ${match.match_idx}}">
                                    <button type="button" class="custom-btnS btn-5 btn-closed">마감</button></a>
                                </td>
                                <td th:if="${match.playerCount >= match.player_min && match.isMatchPast() == true}"><a th:href="@{'detail?match_idx=' + ${match.match_idx}}">
                                    <button type="button" class="custom-btnS btn-5 btn-confirm">매치확정</button></a>
                                </td>
                                <td th:if="${match.playerCount != match.player_max && match.isMatchPast() == true}"><a th:href="@{'detail?match_idx=' + ${match.match_idx}}">
                                    <button type="button" class="custom-btnS btn-5 btn-closed2">마감</button></a>
                                </td>
                            </tr>
                        </th:block>
                        </th:block>
                    </tbody>
                </table>
            </th:block>
            <th:block th:if="${listcount == 0}">
                <div style="text-align: center; margin: 100px 0 100px 0"><p> 매치글이 존재하지 않습니다 </p></div>
            </th:block>
        </div>

        <div class="btnD" th:if="${session.role == 'business'}">
            <button class="custom-btn btn-15" id="matchForm">매치 글 작성</button>
        </div>
    </div>
</body>
<th:block th:replace="~{fragments/footer :: footer}" />
</html>